= render :partial => 'template/browse_app'

#attributes
#products

:javascript
  BrowseApp.init([
    {
      name: "iPhone 4 8GB AT&T",
      attributes: {
        capacity: "8GB",
        carier: "AT&T"
      }
    },
    {
      name: "iPhone 4 16GB AT&T",
      attributes: {
        capacity: "16GB",
        carier: "AT&T"
      }
    },
    {
      name: "iPhone 4 32GB AT&T",
      attributes: {
        capacity: "32GB",
        carier: "AT&T"
      }
    },
    {
      name: "iPhone 4 8GB Verizon",
      attributes: {
        capacity: "8GB",
        carier: "Verizon"
      }
    },
    {
      name: "iPhone 4 16GB Verizon",
      attributes: {
        capacity: "16GB",
        carier: "Verizon"
      }
    },
    {
      name: "iPhone 4 32GB Verizon",
      attributes: {
        capacity: "32GB",
        carier: "Verizon"
      }
    }
  ]);

